.application {
  margin: 0;
  margin-top: 58px;
  margin-bottom: 0px;
  width: 100%;
  flex: 1;

  &__title {
    @include font-title-card;
  }

  &__subtitle {
    @include font-subtitle-card;
    width: 100%;
    padding: 0 30px;
  }

  &__dashboard {
    position: relative;
    @include flex(row, flex-start, normal, 20px);
    @include boxStyle;
    width: 100%;
    flex: 1;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &-sidebar {
      width: 400px;
      border-right: 1px solid #fff;
      margin: 20px;
      padding-right: 20px;

      .separateLine {
        &>.separateLine__line {
          border-color: #fff;
        }

        &>.separateLine__icon {
          border-color: #fff;
        }
      }
    }

    &-content {
      @include flex(column, center, center);
      flex: 1;
      width: 100%;
      padding: 20px;
    }
  }

  &__pictures-infos {
    @include flex(row, space-between, center);
    width: 600px;
    padding: 0 1rem;
    color: #fff;
    margin-bottom: 20px;
  }

  &__menu {
    @include flex(row, center, center, 0);
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }



  &__list {
    @include flex(row, center, center, 20px);
    padding: 20px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__btn-link {
    position: relative;
    @include flex(column, center, center, 10px);
    @include boxStyle;
    width: 220px;
    height: 165px;
    transition: all 0.1s ease-in-out;

    >h2 {
      color: $color-secondary;
    }
  }
}