.image-comparator {
  position: relative;
  width: 600px;
  height: 400px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0px rgba($color-light, 0.8);
  overflow: hidden;
  user-select: none;

  &__wrapper {
    position: relative;
    height: 100%;
  }

  &__image {
    @include container-fill-absolute;
    object-fit: cover;
    pointer-events: none;
  }

  &__overlay {
    @include container-fill-absolute;
    overflow: hidden;
  }

  &__image--compared {
    width: 600px;
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    width: 3px;
    height: 100%;
    background-color: rgba($color-secondary, 0.7);
    cursor: ew-resize;

    &::before {
      content: '';
      @include absolute-center;
      @include flex(row, center, center);
      width: 30px;
      height: 30px;
      background-color: $color-secondary;
      border-radius: 50%;
    }
  }
}