.advice {
  @include flex(column, center, center, 50px);
  width: 100%;

  @media (max-width: 600px) {
    padding: 10px;
  }

  &__title {
    @include font-title-section;
  }

  &__sub-title {
    @include font-subtitle-section;
  }

  &__list {
    @include flex(column, center, flex-start, 20px);
    @include boxStyle;
  }

  &__item {
    position: relative;
    color: #fff;
    padding-left: 20px;

    &::before {
      content: '✔';
      color: $color-secondary;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1.2em;
    }
  }

  & strong {
    color: $color-secondary;
  }

  & pre {
    @include font-code;
    color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    overflow-x: auto;
  }
}