$color-primary: #17a2b8;
$color-secondary: #28a745;
$color-danger: #dc3545;
$color-success: #28a745;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-light: #f4f4f4;
$color-dark: #333;
$color-white: #fff;
$light-gray: #f8f9fa;
$color-dark-gray: #6c757d;
$border-radius: 0.25rem;
$box-shadow-light: 0 0 10px 0px rgba($color-dark, 0.2);
$box-shadow-dark: 0 0 10px 0px rgba($color-dark, 0.8);
// Path: client/src/scss/global/_theme.scss