.compress-picture {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1024px;

    &__title {
        color: $color-secondary;
    }

    &__sub-title {
        color: #fff;
    }

    &__header {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        width: 100%;
        padding: 1rem; 
        margin-bottom: 0.5rem;
        border: 1px solid $color-dark;
        border-radius: 5px;
        background-color: $color-white;
        box-shadow: $box-shadow-dark;
        background: linear-gradient(84deg, #000 15%, #666 100%);
        backdrop-filter: blur(3px);
    }


    &__form {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 50px 10px; 
        border: 1px solid $color-dark;
        border-radius: 5px;
        background: linear-gradient(-66deg, #666666, #000000);
        box-shadow: $box-shadow-dark;
        
        & h3 {
            color: $color-secondary;
        }

        & p {
            color: #fff;
        }

        & > .separateLine {
            & > .separateLine__line {
                border-color: #fff;
            }
            & > .separateLine__icon {
                border-color: #fff;
            }
        }
    }

    &__comparator {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        padding: 1rem; 
        border: 1px solid $color-dark;
        border-radius: 5px;
        background: linear-gradient(-66deg, #666666, #000000);
        box-shadow: $box-shadow-dark;
    }

    &__infos-wrapper {
        display: flex;
        justify-content: space-between;
        width: 600px;
        padding: 0 1rem;
    }
}