.about {
    @include flex(column, center, center, 50px);
    text-align: left;
    padding: 20px 50px;

    &__title {
        @include font-title-section;
    }

    &__description {
        @include font-body;
    }

    &__features {
        &-list {
            @include flex(column, center, center, 20px);
        }
        &-item {
            width: 100%;
        }
    }

    .feature {
        @include flex(row, flex-start, center, 20px);
        @include boxStyle;

        @media screen and (max-width: 430px) {
            @include flex(column, center, center, 20px);
        }

        &__icon {
            width: 75px;
            height: auto;
            aspect-ratio: 1/1;
        }

        &__content {
            @include flex(column, center, flex-start, 0px);

            @media screen and (max-width: 430px) {
                text-align: center;
            }
        }

        &__title {
            @include font-title-card;
        }

        &__description {
            @include font-description;
            color: #fff;
        }
    }
}