.hero {
  position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    text-align: center;
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100vh;
    margin: 0 !important;
    color: white;

    @media (max-width: 1024px) {
      padding: 50px 20px;
    }

    &__bg-image {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
      max-width: 800px;
      margin: 0 auto;

      @media (max-width: 1024px) {
        align-items: center;
      }
    }

    &__cta {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: 20px;

      @media (max-width: 1024px) {
        flex-direction: column;
      }
    }

    &__column {
      flex: 1;
      &-left {}
      &-right {
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }
  
    h2 {
      font-size: 2.5em;
      margin-bottom: 20px;
      text-align: left;

      @media (max-width: 1024px) {
        font-size: 2em;
      }
    }
  
    p {
      font-size: 1.2em;
      margin-bottom: 30px;
        text-align: left;

      @media (max-width: 1024px) {
        font-size: 1em;
      }
    }
  }